:root {
    --main-bg-color: #303C6C;
    --secondary-bg-color: #B4DFE5;
    --primary-color: #FBE8A6;
    --secondary-color: #F4976C;
    --third-color: #D2FDFF;
}

.link {
    color: var(--primary-color);
    font-size: 17px;
}

.link:hover {
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}